amqp==5.0.9
aniso8601==9.0.1
asgiref==3.5.2
attrs==21.4.0
backports.zoneinfo @ file:///home/conda/feedstock_root/build_artifacts/backports.zoneinfo_1629669640150/work
billiard==3.6.4.0
biopython==1.79
celery==5.2.3
celery-progress==0.1.2
certifi==2022.6.15
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
charset-normalizer==2.0.12
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1639699280509/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
decorator==4.4.2
Django==3.2
django-admin-import==0.3.0
django-celery-results==2.2.0
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1641858895663/work
django-environ==0.4.5
django-extensions @ file:///home/conda/feedstock_root/build_artifacts/django-extensions_1657411990541/work
django-filter @ file:///home/conda/feedstock_root/build_artifacts/django-filter_1632500642468/work
django-markdownx==3.0.1
django-object-actions==3.1.0
django-rpy2==0.7.1
django-schema-graph==1.2.0
django-spaghetti-and-meatballs==0.4.2
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1639677796037/work
djangorestframework-jwt==1.11.0
docopt==0.6.2
Flask==2.1.1
Flask-Cors==3.0.10
flask-restx==0.5.1
goatools @ git+git://github.com/tanghaibao/goatools.git@647e9dd833695f688cd16c2f9ea18f1692e5c6bc
graphviz==0.20
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1635854004206/work
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.7.1
itsdangerous==2.1.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jsonschema==4.4.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1635836691365/work
kombu==5.2.3
llvmlite==0.38.0
Markdown==3.3.6
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1635833572614/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1604870968348/work
networkx==2.8
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1642189978584/work
numpy==1.22.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.4.0
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
Pillow==9.0.0
prompt-toolkit==3.0.24
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1640944520001/work
purepng @ file:///home/conda/feedstock_root/build_artifacts/purepng_1636478608122/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydot @ file:///home/conda/feedstock_root/build_artifacts/pydot_1654961309573/work
pygraphviz @ file:///home/conda/feedstock_root/build_artifacts/pygraphviz_1644545949759/work
PyJWT==1.7.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.18.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pytz-deprecation-shim @ file:///home/conda/feedstock_root/build_artifacts/pytz-deprecation-shim_1637074469870/work
qnorm @ file:///home/conda/feedstock_root/build_artifacts/qnorm_1633332318825/work
requests==2.27.1
rpy2 @ file:///home/conda/feedstock_root/build_artifacts/rpy2_1641068508217/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1637806659039/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1636765185598/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1635819587273/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1635187324762/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1637088144584/work
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.1.1
xlrd==1.2.0
XlsxWriter==3.0.2
zipp==3.7.0
